/* slick.module.css */

/* Estilos para os botões de carrossel */
.slick-prev,
.slick-next {
    width: 40px; /* Define a largura dos botões */
    height: 40px; /* Define a altura dos botões */
    background-color: white; /* Define a cor de fundo dos botões */
    border-radius: 50%; /* Transforma os botões em formato circular */
    z-index: 1; /* Garante que os botões fiquem sobre as imagens */
}

/* Estilos para os ícones dos botões de carrossel */
.slick-prev:before,
.slick-next:before {
    content: ''; /* Remove o conteúdo padrão dos botões */
    width: 20px; /* Define a largura dos ícones */
    height: 20px; /* Define a altura dos ícones */
    background-color: transparent; /* Define a cor de fundo dos ícones */
    border: solid white; /* Adiciona uma borda branca aos ícones */
    border-width: 0 3px 3px 0; /* Define a espessura da borda e o ângulo do ícone */
    transform: rotate(45deg); /* Rotaciona o ícone em 45 graus */
}

/* Estilos para o botão de avanço do carrossel */
.slick-next:before {
    transform: rotate(-135deg); /* Rotaciona o ícone de avanço em -135 graus */
}